# .clang-format
BasedOnStyle: Mozilla
Language: Cpp

# Отступы 4 пробела
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
UseTab: Never
TabWidth: 4

# Отключаем сжатие коротких функций в одну строку
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Пробелы внутри скобок
SpacesInContainerLiterals: true

# Форматирование списков
Cpp11BracedListStyle: false
BinPackArguments: false
BinPackParameters: false

# ─── добавлено ───────────────────────────────────────────────

# выравнивание переменных в столбец
#   std::string     src;
#   off_t           file_size;
#   int             src_slot;
AlignConsecutiveDeclarations:
  Enabled:          true
  AcrossEmptyLines: false  # не выравнивать через пустые строки
  AcrossComments:   false  # не выравнивать через комментарии

# выравнивание комментариев в конце строк
#   int x;   // первый
#   int yy;  // второй
AlignTrailingComments:
  Kind:           Always
  OverEmptyLines: 1

# запятая в начале строки при инициализации полей конструктора
#   : ring_(entries)
#   , worker_(...)
BreakConstructorInitializers:                   BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false

AlwaysBreakAfterReturnType:           None
AlwaysBreakAfterDefinitionReturnType: None

AlignConsecutiveAssignments:
  Enabled:          true
  AcrossEmptyLines: false
  AcrossComments:   false

AlignAfterOpenBracket: BlockIndent

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction:    true  # функции — скобка на той же строке
  AfterClass:       true  # классы — на той же строке
  AfterStruct:      true  # структуры — на той же строке
  AfterControlStatement: Always  # if/for/while — скобка на новой строке
  BeforeElse:       true   # else тоже на новой строке
  AfterEnum:        true
  AfterNamespace:   false

